#menu {
    background-color: white;
}

#menu li:first-child > a {
    background-color: crimson;
}

#menu li:first-child > a:before {
    border-bottom-color: crimson;
}

#menu li:nth-child(2) > a {
    background-color: indianred;
    padding-left: 80px;
}

#menu li:nth-child(2) > a:before {
    border-bottom-color: indianred;
}