body {
    background-image: url(../../img/rayquaza.png);
}

#content {
    background: -moz-linear-gradient(top,  rgba(125,185,232,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(125,185,232,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(125,185,232,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

#menu {
    background-color: rgba(70, 169, 106, 0.9);
}

.pagination>li {
    background-color: #E6B91E;
}

#menu li:first-child > a {
    background-color: #0D0D0D;
}

#menu li:first-child > a:before {
    border-bottom-color: #0D0D0D;
}

#menu li:nth-child(2) > a {
    background-color: #292929;
    padding-left: 80px;
}

#menu li:nth-child(2) > a:before {
    border-bottom-color: #292929;
}

#menu li:nth-child(3) > a {
    background-color: #404040;
    padding-left: 80px;
}

#menu li:nth-child(3) > a:before {
    border-bottom-color: #404040;
}

.pagination>.active, .pagination>.active,
.pagination>.active:hover, .pagination>.active,
.pagination>.active:focus, .pagination>.active,
.pagination>li:focus, .pagination>li:hover {
    background-color: rgba(70, 169, 106, 0.9);
}

.bottom-line {
    background-color: black;
    color: #222;
}

#menu a:focus, #menu a:hover {
    color: rgba(70, 169, 106, 0.9);
}