@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300);

html, body {
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
}

main {
    padding-top: 4em;
}

.background-dark {
    background-color: #232323;
    color: white;
}

.header.container {
    background-color: rgba(255,255,255,.2);
}

#text-new-art {
    border: none;
    overflow: hidden;
}


#text-new-art:focus {
    border: 1px solid darkgray;
    box-shadow: none;
    overflow: auto;
}

a, a:focus, a:hover {
    color: #262626;
}

.display-4 {
    font-size: 10em;
}

.display-bordered {
    padding: 0em .5em;
    margin-top: 1em;
    display: inline-block;
    line-height: 1em;
    width: 100%;
}

.h2, h2 {
    font-size: 4em;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 100;
    margin-bottom: 1em;
    margin-top: 1em;
}

.text-hairline{
    font-weight: 100;
}

.text-light {
    font-weight: 300;
}

.text-regular{
    font-weight: 400;
}

h1.text-hairline {
    font-weight: 100;
    font-size: 8em;
    color: white;
    margin-top: 2em;
    margin-bottom: 2em;
    letter-spacing: .5em;
}

.table>tbody>tr>td, .table>tbody>tr>th,
.table>tfoot>tr>td, .table>tfoot>tr>th,
.table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle;
    font-size: 2em;
}

.btn {
    border-radius: 0px;
    border:none;
    position: relative;
    background-color: transparent!important;
    z-index: 1;
}

.btn:before{
    content: '';
    position: absolute;
    top:0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    transform: skewX(-13deg);
    z-index: -1;
}

.btn-primary:before {
    color: #fff;
    background-color: lightgray;
}

.btn-primary.active:before, .btn-primary.focus:before, 
.btn-primary:active:before, .btn-primary:focus:before, 
.btn-primary:hover:before {
    color: #fff;
    background-color: darkgray;
    border:none;
}

.btn-danger:before {
    color: #fff;
    background-color: crimson;
}

.btn-danger.active:before, .btn-danger.focus:before, 
.btn-danger:active:before, .btn-danger:focus:before, 
.btn-danger:hover:before {
    background-color: darkred;
}

.btn-success:before {
    color: #fff;
    background-color: yellowgreen;
}

.btn-success.active:before, .btn-success.focus:before, 
.btn-success:active:before, .btn-success:focus:before, 
.btn-success:hover:before {
    color: #fff;
    background-color: yellowgreen;
    border:none;
}

.m-b-md {
    margin-bottom: 40px;
}

.m-b-lg {
    margin-bottom: 80px;
}

.btn-group .btn {
    min-height: 40px;
    border-radius: 0px;
    min-width: 40px;
    border: none;
    background-color: rgba(255,255,255,.5);
    margin-left: 5px;
}

.list {
    max-height: 500px;
    overflow: auto;
}

/*common*/
.m-b-20 {
    margin-bottom: 20px;
}

.p-r-80 {
    padding-right: 80px;
}

.text-white {
    color: white;
}

.text-fighting {
    color: crimson;
}

.search-form .input-group-addon {
    background-color: rgb(33, 33, 33);
    border: none;
    border-radius: 0px;
    color: rgb(255, 255, 255);
    min-width: 40px;
}

.input-group {
    border: none;
    border-radius: 0px;
    height: 40px;
}

.form-control {
    border-radius: 0px;
    box-shadow: none;
    border: none;
    background-color: whitesmoke;
    font-size: 1.25em;
}

.form-control:focus {
    box-shadow: none;
}

.search-form .form-control {
    background-color: rgba(33, 33, 33, 0.31);
    color: #fff;
    border: none;
}

.modal-content {
    border-radius: 0px;
}

.modal-header {
    border-bottom: none;
}

.modal-title {
    font-weight: 400;
    text-transform: uppercase;
}

.list-item-wrapper .command > .btn {
    height: 20px;
    background-color: rgba(255,255,255,0.3);
    border: none;
    color: rgb(255, 255, 255);
    font-size: 10px;
    line-height: 20px;
    vertical-align: middle;
    padding: 0px 5px;
    border-radius: 0px;
}

.grid-space-0 {
    margin-left: 0px;
    margin-right: 0px;
}

.grid-space-0 > [class*="col-"] {
    padding-left: 0px;
    padding-right: 0px;
}

.list .image {
    padding: 2px;
    height: 100%;
    opacity: .5;
    
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    transition: all .2s ease-in;
    
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

.list .image > img {
    max-height: 60px;
    width: auto;
}

.list .list-item-wrapper:hover > .image {
    filter: none;
    -webkit-filter: grayscale(0%);
    opacity: 1;
}

.main-info.hidden {
    opacity: 0;
}

.info-content {
    overflow: hidden;
}

.info-content > .inner {
    background-color: rgba(0,0,0,.7);
    height: 100%;
    padding: 20px;
    position: relative;
    overflow: hidden;
}

.img-right .info-content > .inner {
    text-align: right;
}

nav {
    min-height: 50px;
    font-size: 16px;
    text-align: right;
}

nav > a {
    display: inline-block;
    height: 100%;
    padding: 14px 0px;
}

ul.dropdown-menu {
    position: absolute;
    border: 1px solid darkgray;
    min-width: 200px;
    background-color: white;
    z-index: 1;
    font-size: 16px;
    list-style: none;
    padding: 10px 20px;
    line-height: 1.5em;
    display: none;
}