@font-face {
    font-family: orbitron;
    src: url(Orbitron/Orbitron-Medium.ttf);
}

@font-face {
    font-family: ubuntu;
    src: url(Ubuntu/Ubuntu-Medium.ttf);
}

html, body {
    height: 100%;
    font-family: ubuntu, sans-serif;
}

html, body {
    height: 100%;
}

#main-container {
    position: static;
}

#ajax_pagingsearc {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
}

.pagination>li {
    display: inline-block;
}

body {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Orbitron', sans-serif;
}

aside {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    float: right;
    width: 100px;
    text-align: center;
    height: 100%;
    overflow: hidden;
    background-color: transparent;
}

img.img-icon {
    position: absolute;
    top: -10px;
    opacity: .2;
    max-width: 50px;
    right: -10px;
}

aside:hover {
    background-color: rgba(255,255,255,.05);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .3);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .3);
}

aside a {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    color: white;
    display: flex;
    letter-spacing: 0px;
    
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    height: 100px;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    position: relative;
    overflow: hidden;
}

img.inprogress {
    opacity: .2;
    display: block;
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
}

aside a:focus, aside a:hover {
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
}

aside a:hover {
    background-color: rgba(255,255,255,.2);
}

aside li {
    -webkit-transition: all .7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all .7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -ms-transition: all .7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all .7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all .7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

aside li.selected > a {
    background-color: rgba(255,255,255,.1);
}

aside li:nth-child(n + 2) {
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
}

aside li:nth-child(3) {
    -webkit-transition-delay: .1s;
    -moz-transition-delay: .1s;
    -ms-transition-delay: .1s;
    -o-transition-delay: .1s;
    transition-delay: .1s;
}

aside li:nth-child(4) {
     -webkit-transition-delay: .15s;
     -moz-transition-delay: .15s;
     -ms-transition-delay: .15s;
     -o-transition-delay: .15s;
     transition-delay: .15s;
}

aside li:nth-child(5) {
    -webkit-transition-delay: .2s;
    -moz-transition-delay: .2s;
    -ms-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s;
}

aside li:nth-child(6) {
    -webkit-transition-delay: .25s;
    -moz-transition-delay: .25s;
    -ms-transition-delay: .25s;
    -o-transition-delay: .25s;
    transition-delay: .25s;
}

aside:hover li {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

main {
    width: calc(100% - 100px);
    float: left;
}

.menu-icon {
    height: 40px;
    width: 40px;
    position: relative;
}

.menu-icon:before, .menu-icon:after {
    content: "";
    width: 40px;
    height: 3px;
    background-color: white;
    display: block;
}

.menu-icon:before {
    top: 0px;
}

.menu-icon:after {
    bottom: 0px;
}

.grid-sizer {
    width: 20%;
}

.grid-item {
    width: 20%;
    margin-bottom: 10px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.grid-item > figure {
    transition: all .2s linear;
    background-color: rgba(255,255,255,.1);
}

.grid-item > figure:hover {
    background-color: rgba(255,255,255,.3);
}

.grid-item img {
    max-width: 100%;
    margin: auto;
}

.grid-item figcaption {
    display: none;
}

.grid-container {
    padding-top: 40px;
}